<% layout("layouts/boilerplate.ejs") %> 
<body>
<div class="row">
<div class="col-md-8 offset-2" >
    <h3 style="margin: 1rem; margin-left: 0; padding-top: 1rem;">Edit Your  Listing</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
        <!-- in name = listing[title] here we are creating an object listing and 
          passing title as a key to object listing  -->
          <!-- this will help us to directly insert the data into db in shorter way -->
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" value = "<%= listing.title %>" type="text" class="form-control">
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control"><%= listing.description %></textarea>
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input name="listing[image]" value = "<%= listing.image %>" type="text" class="form-control">
        </div>

        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input name="listing[price]" value = "<%= listing.price %>" type="number" class="form-control">
            </div>
    
            <div class="mb-3  col-md-8">
                <label for="country" class="form-label">Country</label>
                <input name="listing[country]" value = "<%= listing.country %>" type="text" class="form-control">
            </div>
        </div>

        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" value = "<%= listing.location %>" type="text" class="form-control">
        </div>

        <button class="btn btn-dark custom-btn mb-3">Edit</button>
    </form>
</div>
</div>
</body>
</html>